
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Open+Sans:ital@1&family=Poppins:wght@200;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  justify-items: center;

}

body {
  background-color: rebeccapurple;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 4rem;
  text-shadow: 5px 0 #232931;
  font-family: 'Libre Baskerville', serif;
  margin: 30px;
  color: aqua;
}
 

.container {
  width: 70%;
  margin: auto;
  text-align: center;
 
} 

p{
    font-size: 2rem;
    color: aqua;
  font-family: 'Indie Flower', cursive;
}
 
.dicee{
    text-align: center;
    display: inline-block;
}
 
img{
    width: 80%;
}
footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}